@font-face {
  font-family: "Rubik Medium";
  src: url("../fonts/rubikmedium-webfont.woff") format("woff"),
    url("../fonts/rubikmedium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/rubikbold.woff") format("woff"),
    url("../fonts/rubikbokd.woff2") format("woff2");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.woff") format("woff"),
    url("../fonts/lato-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Lato Medium";
  src: url("../fonts/Lato-Medium.woff") format("woff"),
    url("../fonts/Lato-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/Lato-Semibold.woff") format("woff"),
    url("../fonts/Lato-Semibold.woff2") format("woff2");
}